.output
{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -wekkit-border-radius: 5px;

    .clear {
        color: #999;
        &:hover {
            cursor: pointer;
            color: #666;
        }
    }

    .result
    {
        margin-top: 5px;
        font-size: 1.2em;
        font-weight: bold;
        color: #933;
    }
}
p {
    color: black;
    font-size: 1.1em;
}
.unit-light {
    color: #ddd;
    font-size: .85em;
}
.unit-dark {
    color: #333;
    font-size: .8em;
}
.rwt-logo {
    margin-top: 5px;
    float: right;
    height: 40px;
}