<!-- Main -->   
<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
            <div class="container text-center white-text">
                <img class="animated slideInLeft" src="/assets/images/run_with_traffic_logo.png" alt="RaceCalc logo" />
                <div class="white-text text-center wow fadeInUp">
                    <h1>Race calculators for runners</h1>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- /.Main -->
  
  <!--Main Layout-->
  <main class="text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="pb-3" src="/assets/images/run_with_traffic_logo.png" alt="RaceCalc logo" />

                <h3 class="pt-3"><a routerLink="/pace">Race Pace</a></h3>
                <p>Calculate race pace per mile, based on race distance and finish time.</p>
                
                <h3 class="pt-3"><a routerLink="/plan">Race Plan</a></h3>
                <p>Calculate projected mile splits, based on distance and goal pace.</p>
                
                <h3 class="pt-3"><a routerLink="/graded">Age-Graded Scoring</a></h3>
                <p>Calculate age-graded scoring based on age and gender.</p>
            
                <h3 class="pt-3"><a routerLink="/treadmill">Treadmill Conversion</a></h3>
                <p>Calculate pace per mile based on treadmill miles per hour.</p>
                
            </div>
        </div>
    </div>
  </main>
  <!--Main Layout-->